* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  --white: #f9faf8;
  --gray: #e5e7eb;
  --blue: #1f2937;
}

header,
.welcome-section,
footer {
  background-color: var(--blue);
}

.width-container-header {
  width: 70%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo,
.nav {
  color: var(--white);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--gray);
  font-weight: lighter;
  font-size: 18px;
}

li {
  margin: 0 20px;
}

.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-section img {
  max-width: 600px;
  height: auto;
}

.width-container-welcome {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.welcome-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.welcome-text h1 {
  color: var(--white);
  font-weight: 800;
  font-size: 48px;
}

.welcome-text p {
  color: var(--gray);
  font-weight: lighter;
  font-size: 18px;
}

button {
  padding: 10px 25px;
  margin-top: 10px;
  background-color: #3882f6;
  border-radius: 10px;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  border: none;
}

.random-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.random-header {
  margin: 50px;
}

.random-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-bottom: 100px;
}

.item {
  width: 150px;
  text-align: center;
  color: var(--blue);
}

.item img {
  border-radius: 10px;
  border: solid 4px #3882f6;
}

.quote-section {
  background-color: var(--gray);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  max-width: 800px;
  color: var(--blue);
}

.quote-author {
  font-weight: bold;
  color: var(--blue);
  font-size: 20px;
  font-weight: bold;
  align-self: flex-end;
  margin-right: 50px;
}

.quote-container {
  max-width: 800px;
  display: flex;
  flex-flow: column wrap;
  margin: 100px;
}

.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1000px;
  background-color: #3882f6;
  border-radius: 10px;
  margin: 100px;
}

.cta-text {
  margin: 50px;
  color: var(--white);
  font-size: 20px;
}

.cta-text p {
  font-weight: lighter;
  font-size: 18px;
}

.blue-banner button {
  border: solid 2px var(--white);
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 18px;
  font-weight: lighter;
}
